/* exemplo de nomeação de classes css

bloco {

}

bloco__elemento {


}

bloco__elemento--modificador {


} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    flex: 1;
    background-image: linear-gradient(to bottom, hsl(141deg 75% 10%), black);
    border-radius: 15px;
    padding: 20px;
    margin: 0 10px 10px;
}

.main__texts {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main__link:hover {
    text-decoration: underline;    
}


.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover {
    text-decoration: underline;
}

